body{
  background-color: rgb(54, 54, 54);
  margin: 0;
  text-align: center;
  justify-content: center;
  font-family: 'Trebuchet MS', sans-serif;
  color: rgb(185, 185, 185);
  font-size: 18px;
  line-height: 25px;
  
}
.container{
  background-color: rgb(36,36,39);
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 0%;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 0%;
  padding-right: 0%;
}
.H1{
  background-image: url("images/headerbackground.jpg");
  background-size:cover;
  background-position: static;
  line-height: 50px;
  color: white;
  font-size: 25px;
  padding: 15px;
}
.navbar{
  background-color: rgb(27, 27, 27);
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: left;
}
.H2{
  color: White;
  font-size: 20px;
  
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Trebuchet MS', sans-serif;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a.active{
  background-color: #444444;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center{
 text-align: center;
 list-style-position: inside;
 
}
ol.center li{
 text-align: left;
 margin-left: 40%;
 list-style: circle;
}

a:hover .image{
  color: white;
  opacity: 0.3;
  overflow: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -50%)
}
.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow: hidden;
}

.textegal {
  background-color: #444444;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  overflow: hidden;
}

a:hover .middle{
  opacity: 1;
  overflow: hidden;
}

#galery{
  display: none;
}

hr{
  width:250px;
}
#opengal {
  initial-value: "open";
  image-orientation: 0deg;
}

#opengal:hover {
  background-color: rgb(128, 128, 128);
  padding-left: 20px;
  padding-right: 20px;
}

.bigb{
  background-color: rgb(66, 66, 66);
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  margin-top: 50px;
  color: rgb(185, 185, 185);
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  cursor:pointer;
  border: none;
}
.bigb:hover{
  box-shadow:
    0 0 15px 7px #fff;
  background-color: rgb(128, 128, 128);
  color: #fff;
}

.footer{
  grid-area: l-f;
  display: grid;
  justify-items: center;
  row-gap: 40px;
  padding: 15px 0 15px;
  background-color: rgb(27, 27, 27);
  bottom: 0;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 0;
  
}

ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul li{
  display: inline;
  cursor: pointer;
  list-style: none;
  padding-right: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}
#smp{
  font-size: 75%;
}

.timeline{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 5% auto;
}

.description {
  
  display: none;
}

.visible:hover + .description{
  display: block;
}

.stamp{
  border: solid;
  border-radius: 15px;
  background-color: rgb(49, 49, 49);
}

.visible:hover{
  border: solid;
  border-radius: 10px;
}

.visible{
  position: static;
  
}

.vl{
  border-left:dashed;
  height: 100px;
  left: 50%;
  margin-left: 50%;
  top: 0;
}

#login{
  border: solid;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 0%;
  padding-bottom: 3%;
}

#login h5{
  font-size: 20px;
}

#login p a{
  color: #fff;
}

#login input{
  border: none;
  background-color: rgb(185, 185, 185);
}
#login input::placeholder{
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
}

#avertissement{
  font-size: 15px;
}

#utilisationList{
  padding-right: 45%;
  padding-left: 45%;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.pic{
  width: 450px;
}

.sideBySide{
  margin-left: 40px;
  margin-right: 40px;
  line-height: 25px;
}

#utilisationList a{
  color: #818181;
}